@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

/* * {
  @apply box-border;
  @apply p-0 m-0;
  @apply text-base;
} */